:root {
  --light-text: #f4f4f4;
  --light-text-dimmed: #a6acba;
  --dark-text: #3c4252;
  --dark-text-dimmed: #707070;
  --blue-bg: linear-gradient(90deg, #172c46, #292e5e);
  --light-bg: #f5f5f5;
  --dark-bg: #3c4252;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: var(--light-bg);
  color: var(--dark-text);
}

/* Typography */
h1 {
  font-size: 40px;
  font-weight: normal;
}
h2 {
  font-size: 32px;
  font-weight: normal;
}
p {
  max-width: 420px;
  margin: 0 auto;
}
/* ----- */

/* Pricing section */
#pricing {
  height: 400px;
  color: var(--light-text);
  background-image: var(--blue-bg);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}

.message h1 {
  margin-bottom: 20px;
}

.message p {
  color: var(--light-text-dimmed);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 210px);
}

.cards .card {
  height: 280px;
  color: var(--dark-text);
  background-color: #fff;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card:hover {
  transform: scale(120%);
  transition: 200ms ease-in;
}

.card .type {
  height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--light-text);
  background-color: var(--dark-bg);
  padding: 0 20px;
}

.card .price {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 20px;
}

.price::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
  margin-top: 20px;
}

.price sup {
  font-size: 18px;
  vertical-align: top;
  color: var(--dark-text-dimmed);
}

.price sub {
  font-size: 12px;
  vertical-align: baseline;
  color: var(--dark-text-dimmed);
}

.price p {
  font-size: 54px;
  word-spacing: -10px;
  line-height: 1;
}

.card .details {
  padding: 20px;
}

.details p {
  font-size: 12px;
  text-align: left;
}

.card button {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #039be5;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 8px 24px;
}

.card button:hover {
  background-color: #039ae5c2;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.card button:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* ----- */

/* FAQS section */
#faqs {
  color: var(--dark-text-dimmed);
  margin-top: 200px;
}

#faqs h2 {
  margin-bottom: 72px;
}

#faqs .boxes {
  display: flex;
  text-align: left;
  justify-content: center;
  margin-bottom: 100px;
}

.boxes .box {
  margin: 0 20px;
}

.box p:nth-child(1) {
  margin-bottom: 8px;
}
/* ----- */
