:root {
  --light-text: #f4f4f4;
  --light-text-dimmed: #a6acba;
  --dark-text: #3c4252;
  --dark-text-dimmed: #707070;
  --blue-bg: linear-gradient(90deg, #172c46, #292e5e);
  --light-bg: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: var(--light-bg);
}

/* Typography */
h1 {
  font-size: 40px;
  font-weight: normal;
}
h2 {
  font-size: 32px;
  font-weight: normal;
}
p {
  max-width: 420px;
  margin: 0 auto;
}
/* ----- */

/* Pricing section */
#pricing {
  height: 400px;
  color: var(--light-text);
  background-image: var(--blue-bg);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}

.message h1 {
  margin-bottom: 20px;
}

.message p {
  color: var(--light-text-dimmed);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 210px);
}

.cards .card {
  height: 280px;
  color: var(--dark-text);
  background-color: #fff;
  border: 1px solid red;
}
/* ----- */

#faqs {
  margin-top: 200px;
}
